/* entire code */
* {
  margin: 0px auto;
  width: 960px;
  background-color: rgb(214, 233, 176);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(31, 44, 4)
}

/* header only */
header > img {
  width: 150px;
  float: left;
}

header > nav {
  margin-top: 70px;
  margin-left: 250px;
}

header > nav > ul > li {
  display: inline-block;
  border: 1px solid black;
  width: 100px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(164, 185, 122);
}

header > nav > ul > li > a{
  background-color: inherit;
}

